body{
background: url("../img/download.jpg");
    }

a {
    color: deepskyblue;
}

p {

font-family: Georgia, 'Times New Roman', Times, serif;

}

#Curiosidades {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagen {
    width: 40%;
    border: 5px solid red;
    float: right;
}


.navbar {
    background-image: linear-gradient(to right,lightcoral , cyan )
}

.navbar-brand{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.navbar-brand:hover {
    color: cyan;
}

.nav-link{ 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.nav-link:hover {
    color: cyan;
}

    .blog {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    #encabezado {
        font-family: 'Courier New', Courier, monospace;
     font-size: 100%;
     color: #fa8572;
    background-color: #155263;
    }
    
    .titulo {
    text-align: left;
    
    color: #fa8572;
        border-style: solid;
        border-width: 1px;
        padding: 10px;
        width: fit-content      ;
        border: 2;
    
    }
    
    #imagenes {
        padding-left: 55px;
    background-color: #ff6f3c;
    }
    
    img { 
        width: 30%;
    }
    
    #cuerpo {
        background-color: #ff9a3c;
    }
    
    .txt {
    
        font-family:'Courier New', Courier, monospace;
        font-size: 100%;
        color: honeydew;
    }
    
    #final {
        background-color: #ffc93c;
    }
    
    .fl {
    
        color: lightgrey;
        font-size: 100%;
    }
